@charset "UTF-8";

@import "theme.css";

@font-face {
    font-family: "Ubuntu Mono";
    src: url("../fonts/UbuntuMono-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Calligraffitti";
    src: url("../fonts/Calligraffitti-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background: linear-gradient(#666666, #CCCCCC) repeat fixed 0% 0% #CCCCCC;
    height: 100%;
    width: 100%;
}

body {
    font-family: "Ubuntu Mono";
}

h1, h2 {
    font-family: Calligraffitti;
}

h1 {
    background: linear-gradient(#630031, #000000) repeat scroll 0% 0% #000000;
    color: #FFFFFF;
    font-size: 24px;
    margin: 0;
    padding: 6px 0;
    width: 100%;
}

.login {
    background: #FFFFFF;
    border-radius: 16px;
    left: 50%;
    max-width: 90%;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 400px;
}

.login div {
    background: linear-gradient(#049A9B, #000233) repeat scroll 0% 0% #000233;
    padding: 10px 0;
}

.login input {
    border-radius: 8px;
    padding: 8px;
}

.login input[type="password"],
.login input[type="text"] {
    margin: 0 0 10px 0;
    width: 90%;
}

.login input[type="submit"] {
    background: linear-gradient(#CCCCCC, #888888, #CCCCCC) repeat scroll 0% 0% #CCCCCC;
    color: #000000;
    font-weight: bolder;
    letter-spacing: 1px;
    width: 100px;
}

.chat {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}

.chat h1,
.chat .title,
.chat .output {
    cursor: default;
}

.chat h1 {
    font-weight: lighter;
    text-shadow: 1px 1px #052B2D;
    height: 36px;
    left: 0;
    letter-spacing: 1px;
    position: absolute;
    right: 0;
    top: 0;
}

.chat .title {
    background: #000000;
    border-bottom: 1px dotted #333333;
    color: #CCCCCC;
    height: 24px;
    left: 0;
    overflow-y: auto;
    padding: 2px 10px;
    position: absolute;
    right: 0;
    text-align: left;
    top: 36px;
}

.chat .output {
    background: linear-gradient(#000000, #052B2D) repeat fixed 0% 0% #000000;
    bottom: 36px;
    left: 0;
    overflow: hidden;
    overflow-y: scroll;
    padding: 4px 10px;
    position: absolute;
    right: 0;
    text-align: left;
    top: 60px;
}

.chat .output > #output > p {
    color: #CCCCCC;
    font-size: 14px;
    margin: 0;
}

.chat .input {
    background: #CCCCCC;
    color: #000000;
    height: 36px;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}

.chat .input > #input {
    border: 0;
    bottom: 0;
    left: 0;
    line-height: 36px;
    margin: 0;
    padding: 0 40px 0 0;
    position: absolute;
    right: 0;
    text-indent: 0.5em;
    top: 0;
    width: 100%;
}

.chat .buttons {
    color: #FFFFFF;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 6px;
}

.chat .buttons span {
    margin-left: 10px;
}

#whisper-button,
#media-button,
#option-button,
#info-button {
    display: none;
}

.chat .title > #channel {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
}

.chat .title > #topic {
    font-size: 10px;
    font-style: italic;
}

.chat .submit {
    bottom: 6px;
    color: #000000;
    font-size: 20px;
    position: absolute;
    right: 10px;
}

.chat .submit > span,
.chat .buttons > span {
    cursor: pointer;
}

.chat #output .time {
    color: #00FFFF;
}

.chat #output .action {
    color: #FF00FF;
}

.chat #output .channel,
.chat #output .link {
    color: #FFFF00;
    cursor: pointer;
}

.chat #output .link .fa {
    color: #FF7F00;
    font-size: smaller;
    margin-left: 4px;
}

.chat iframe,
.chat img {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 8px;
    display: block;
    padding: 16px;
    margin: 8px 0;
    max-width: 100%;
}

.chat iframe.youtube {
    height: 315px;
    width: 560px;
}

.chat iframe.pastebin,
.chat iframe.jsfiddle {
    height: auto;
    width: 1000px;
}

.overlay {
    background-color: #000000;
    bottom: 0;
    display: none;
    left: 0;
    opacity: 0.8;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
}

.infobox {
    background: #CCCCCC;
    border: 6px ridge #888888;
    display: none;
    height: 600px;
    left: 50%;
    max-height: 90%;
    max-width: 90%;
    overflow: auto;
    padding: 0px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 1000px;
    z-index: 1100;
}

.infobox h2 {
    background: linear-gradient(#630031, #CCCCCC) repeat scroll 0% 0% #630031;
    color: #FFFFFF;
    font-size: 48px;
    letter-spacing: 4px;
    margin: 0;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px #052B2D;
}

.infobox .whisper-container,
.infobox .join-container {
    background: linear-gradient(#052B2D, #000000) repeat 0% 0% #052B2D;
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    margin: 10px;
    padding: 0;
    position: relative;
    text-align: center;
    letter-spacing: 4px;
}

.infobox .whisper,
.infobox .join {
    display: block;
    font-size: 24px;
    font-weight: bolder;
    height: 100%;
    margin: 0;
    padding: 20px;
    width: 100%;
}

.infobox .info {
    background: #000000;
    bottom: 0;
    color: #FF7F00;
    font-size: 24px;
    left: 0;
    overflow: auto;
    padding: 100px;
    position: absolute;
    right: 0;
    top: 0;
}

.infobox .close {
    position: absolute;
    right: 2px;
    top: 2px;
}

@media (max-width: 480px) {

    .chat {
        text-align: left;
    }

    .chat h1 {
        padding-left: 10px;
    }

}
