/********************************************************/

.theme-default .infobox h2,
.theme-default .optionbox h2,
.theme-default .chat h1,
.theme-default .chat .output > #output > p {
}

.theme-default .infobox .whisper,
.theme-default .infobox .join,
.theme-default .optionbox,
.theme-default .chat .title,
.theme-default .chat .output > #output > p > .text,
.theme-default .chat .output > #output > p > .time,
.theme-default .chat .output > #output > p > .user {
}

.theme-default .chat #output .channel,
.theme-default .chat #output .link {
}

.theme-default .chat iframe,
.theme-default .chat img {
}

.theme-default .infobox h2,
.theme-default .optionbox h2,
.theme-default .chat h1 {
}

.theme-default .infobox,
.theme-default .optionbox,
.theme-default .infobox .whisper-container,
.theme-default .infobox .join-container,
.theme-default .infobox h2,
.theme-default .optionbox h2,
.theme-default .chat h1,
.theme-default .chat .title,
.theme-default .chat .output {
}

.theme-default .infobox .whisper-container,
.theme-default .infobox .join-container {
}

.theme-default .chat .buttons {
}

/********************************************************/

.theme-dark .infobox h2,
.theme-dark .optionbox h2,
.theme-dark .chat h1,
.theme-dark .chat .output > #output > p {
    color: #036052;
}

.theme-dark .infobox .whisper,
.theme-dark .infobox .join,
.theme-dark .optionbox,
.theme-dark .chat .title,
.theme-dark .chat .output > #output > p > .text,
.theme-dark .chat .output > #output > p > .time,
.theme-dark .chat .output > #output > p > .user {
    color: #8BF6BF;
}

.theme-dark .chat #output .channel,
.theme-dark .chat #output .link {
    color: #B6D8ED;
}

.theme-dark .chat iframe,
.theme-dark .chat img {
    background-color: rgba(139, 246, 191, 0.1);
}

.theme-dark .infobox h2,
.theme-dark .optionbox h2,
.theme-dark .chat h1 {
    text-shadow: 1px 1px #8BF6BF;
}

.theme-dark .infobox,
.theme-dark .optionbox,
.theme-dark .infobox .whisper-container,
.theme-dark .infobox .join-container,
.theme-dark .infobox h2,
.theme-dark .optionbox h2,
.theme-dark .chat h1,
.theme-dark .chat .title,
.theme-dark .chat .output {
    background: #000000;
}

.theme-dark .infobox .close {
    color: #FFFFFF;
}

.theme-dark .infobox .whisper-container,
.theme-dark .infobox .join-container {
    border: 1px dotted #036052;
}

.theme-dark .chat .buttons {
    color: #FFFFFF;
}

/********************************************************/

.theme-light .infobox h2,
.theme-light .optionbox h2,
.theme-light .chat h1,
.theme-light .chat .output > #output > p {
    color: #000000;
}

.theme-light .infobox .whisper,
.theme-light .infobox .join,
.theme-light .optionbox,
.theme-light .chat .title,
.theme-light .chat .output > #output > p > .text,
.theme-light .chat .output > #output > p > .time,
.theme-light .chat .output > #output > p > .user {
    color: #600001;
}

.theme-light .chat #output .channel,
.theme-light .chat #output .link {
    color: #ff7f00;
}

.theme-light .chat iframe,
.theme-light .chat img {
    background-color: rgba(0, 0, 0, 0.1);
}

.theme-light .infobox h2,
.theme-light .optionbox h2,
.theme-light .chat h1 {
    text-shadow: 1px 1px #600001;
}

.theme-light .infobox,
.theme-light .optionbox,
.theme-light .infobox .whisper-container,
.theme-light .infobox .join-container,
.theme-light .infobox h2,
.theme-light .optionbox h2,
.theme-light .chat h1,
.theme-light .chat .title,
.theme-light .chat .output {
    background: #FFFFFF;
}

.theme-light .infobox .close {
    color: #000000;
}

.theme-light .infobox .whisper-container,
.theme-light .infobox .join-container {
    border: 1px dotted #000000;
}

.theme-light .chat .buttons {
    color: #000000;
}

/********************************************************/
